.backgroundWrap 
{
    position: absolute;
    z-index: -1000;
    overflow:;
	left:10vw;
    top: 1vw;
	opacity:.6;
	transform: scale(.6);
}
			
#videoBg
{
    position: absolute;
    top: 0%;
    min-height: 12vw;
    min-width: 12vw;
}


@media screen and (max-width: 900px) 
{
    .backgroundWrap 
	{
        transform: scale(0);
    }
}

