/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Program: styleT.css (index1.html)

Description: CSS file for ePortfolio Remake

History: 
****************************************************/



/*Sets padding, margin, and backgorund color for the body and hides scroll bar*/
body
{
  padding: 0;
  margin: 0;
  background-color: gray;

}

/*Aligns the content on the screen in the middle*/
.middle
{
  position: absolute;
  top: 13%;
  transform: translateY(-8%);
  width: 100%;
  text-align: center;
  animation-duration: 2.5s;
  animation-name: slidein;
}

/*Animation Keyframes for all buttons and headers*/
@keyframes slidein
{
  from 
  {
    margin-left: 100%; 
  }

  to 
  {
    margin-left: 0%;
  }
}  

/*Main Header text decortion, font size */
.mainHeader
{
	text-decoration: none;
	color: white;
	font-size: 150%;
	
}

/*Sub heading under Main header, Font size*/
.subHeader
{
	padding-bottom:5%;
}
/*Slide in Text Animation*/
h1 {
    animation-duration: 1s;
    animation-name: slidein;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Slide in Text Animation*/
h2 
{
    animation-duration: 1s;
    animation-name: slidein;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3
{
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 
  
/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Class: aboutBtn)

Description: About me Button Stlying and postion

History: 
****************************************************/

/*About me Button Class*/
.aboutBtn
{
  display: inline-block;
  width: 180px;
  height: 180px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}

/*Paragraph inside aboutBtn class: Line height, font size*/
.aboutBtn p
{ 
  line-height: 25px;
  font-size: 26px;
}

/*Paragraph inside Aboutbtn class on hover effects: Font color, scaling size, and transition speed*/
.aboutBtn:hover p
{
  transform: scale(1.3);
  color: #f1f1f1;
  transition: .3s linear;
}

/*Image insie aboutBtn class: sets image postion, padding, and z-index*/
.aboutBtn img
{
  position: absolute;	
  padding-top: 45%;
  right: 38%;
  z-index: 1;
}

/*Image inside Aboutbtn class on hover effects: transistion speed, and scaling size*/
.aboutBtn:hover img
{
  transform: scale(1.3);
  transition: .3s linear;
}

/*Blue square that covers the white box*/
.aboutBtn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

/*Begans animation for blue square on hover over*/
.aboutBtn:hover::before
{
  animation: aaa 2s 1;
  top: -10%;
  left: -10%;
}

/*Keyframes for animations*/
@keyframes aaa 
{
  0%
  {
    left: -110%;
    top: 90%;
  }
  50%
  {
    left: 10%;
    top: -30%;
  }
  100%
  {
    top: -10%;
    left: -10%;
  }
}

/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Class: educationBtn

Description: Education Button Stlying and postion

History: 
****************************************************/

/*Education Button Class*/
.educationBtn
{
  display: inline-block;
  width: 180px;
  height: 180px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #ff4800;
  overflow: hidden;
  position: relative;
}

/*Paragraph inside educationBtn class: Line height, font size*/
.educationBtn p
{ 
  line-height: 25px;
  font-size: 26px;
}

/*Paragraph inside educationBtn class on hover effects: Font color, scaling size, and transition speed*/
.educationBtn:hover p
{
  transform: scale(1.3);
  color: #f1f1f1;
  transition: .3s linear;
}

/*Image insie educationBtn class: sets image postion, padding, and z-index*/
.educationBtn img
{
  position: absolute;	
  padding-top: 45%;
  right: 38%;
  z-index: 1;
}

/*Image inside educationBtn class on hover effects: transistion speed, and scaling size*/
.educationBtn:hover img
{
  transform: scale(1.3);
  transition: .3s linear;
}

/*Orange square that covers the white box*/
.educationBtn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #ff4800;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

/*Begans animation for Orange square on hover over*/
.educationBtn:hover::before
{
  animation: aaa 2s 1;
  top: -10%;
  left: -10%;
}


/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Class: skillsBtn

Description: Skill Button Stlying and postion

History: 
****************************************************/

/*Skills Button Class*/
.skillsBtn
{
  display: inline-block;
  width: 180px;
  height: 180px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #9dc53b;
  overflow: hidden;
  position: relative;
}

/*Paragraph inside skillsBtn class: Line height, font size*/
.skillsBtn p
{ 
  line-height: 25px;
  font-size: 26px;
}

/*Paragraph inside skillsBtn class on hover effects: Font color, scaling size, and transition speed*/
.skillsBtn:hover p
{
  transform: scale(1.3);
  color: #f1f1f1;
  transition: .3s linear;
}

/*Image insie skillsBtn class: sets image postion, padding, and z-index*/
.skillsBtn img
{
  position: absolute;	
  padding-top: 45%;
  right: 38%;
  z-index: 1;
}

/*Image inside skillsBtn class on hover effects: transistion speed, and scaling size*/
.skillsBtn:hover img
{
  transform: scale(1.3);
  transition: .3s linear;
}

/*Orange square that covers the white box*/
.skillsBtn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #9dc53b;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

/*Begans animation for Orange square on hover over*/
.skillsBtn:hover::before
{
  animation: aaa 2s 1;
  top: -10%;
  left: -10%;
}

/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Class: projectsBtn

Description: Skill Button Stlying and postion

History: 
****************************************************/

/*Projects Button Class*/
.projectsBtn
{
  display: inline-block;
  width: 180px;
  height: 180px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #6c0b0b;
  overflow: hidden;
  position: relative;
}

/*Paragraph inside projectsBtn class: Line height, font size*/
.projectsBtn p
{ 
  line-height: 25px;
  font-size: 26px;
}

/*Paragraph inside projectsBtn class on hover effects: Font color, scaling size, and transition speed*/
.projectsBtn:hover p
{
  transform: scale(1.3);
  color: #f1f1f1;
  transition: .3s linear;
}

/*Image insie projectsBtn class: sets image postion, padding, and z-index*/
.projectsBtn img
{
  position: absolute;	
  padding-top: 45%;
  right: 38%;
  z-index: 1;
}

/*Image inside projectsBtn class on hover effects: transistion speed, and scaling size*/
.projectsBtn:hover img
{
  transform: scale(1.3);
  transition: .3s linear;
}

/*Orange square that covers the white box*/
.projectsBtn::before
{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #6c0b0b;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

/*Begans animation for Orange square on hover over*/
.projectsBtn:hover::before
{
  animation: aaa 2s 1;
  top: -10%;
  left: -10%;
}

/****************************************************
Author: Connor Rodrigues

Date: 10/27/2018

Class: footer

Description: Footer decoration and postioning.

History: 
****************************************************/

.footer p
{
	color: black;
	opacity: .8;
	background-color: lightgray;
	position: absolute;
	margin-top: 10%;
	left: 25%;   
    width: 50%;
	margin-bottom: 0%;
    text-align: center;

}
/*
.backgroundWrap 
{
    position: absolute;
	right: 90%;
	bottom: 100%;
    z-index: -1000;
	opacity:.6;
	transform: scale(.6);
}
	*/		
.videoBg
{
	position: absolute;
	width:80%;
	height:80%;
	z-index: -1;
	opacity:.6;
	transform: scale(1.6);
	left:10%;
	top:30%;
	bottom:;
	overflow-y:hidden;

}


